@use "../globals/variables" as *;
@use "../globals/media-queries" as mq;

.articleSection {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  border-bottom: $color-gray solid 1px;
  padding: 20px 0;

  &:last-child {
    border-bottom: none;
  }
}

@include mq.mobile {
  .articleSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__articlesContainer {
      border-top: $color-gray solid 1px;
    }
  }
}