@use "../globals/variables" as *;
@use "../globals/media-queries" as mq;

.bigArticle {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  padding: 20px 0;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;

    &--title {
      font-size: 1.5rem;
      font-weight: 450;
    }

    &--description {
      font-weight: 300;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
}

@include mq.mobile {
  .bigArticle {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}