@use "../globals/variables" as *;
@use "../globals/media-queries" as mq;

.rowArticles {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: $color-gray solid 1px;
  padding: 35px 0;
}

@include mq.mobile {
  .rowArticles {
    flex-direction: column;
  }
}